doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='//cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.css', media='all', rel='stylesheet', type='text/css')
		script(src='//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js')
		script(src='//cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.js')
		script(src='//fb.me/react-with-addons-0.14.0.js')
		script(src='//fb.me/react-dom-0.14.0.js')
	body
		block content
