extends layout

block content
	div.ui.padded.basic.segment
		h1.ui.center.aligned.icon.header
			i.comments.icon
			div.content GuestBook
				div.sub.header Leave message whatever you want
		div.ui.olive.item.menu
			a.item(href='/') Home

		form(action='/post', method='post')
			div.ui.segment
				div.ui.form
					div.field
						label.ui.red.ribbon.label NAME
						div.ui.fluid.input
							input(type='text', name='name')
					div.field
						label.ui.blue.ribbon.label MESSAGE
						textarea(name='msg')
					input.ui.teal.button(type='submit', value='POST')

